<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
    
    <import resource="application-config.xml"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>classpath:pe/com/segrop/sgsapp/resources/jdbc.properties</value></property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>${driver}</value></property>
        <property name="url"><value>${url}</value></property>
        <property name="username"><value>${username}</value></property>
        <property name="password"><value>${password}</value></property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingLocations">
            <list>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegCabCargo.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegCabEmpresa.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegCabEntidad.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegCabLugar.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegCabMaestro.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegCabResponsable.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegCabUsuario.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetAcciones.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetArea.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetAtributo.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetCapacitacion.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetCargo.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetClave.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetCriteria.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetDocumento.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetExport.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetExportdetalle.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetHistorial.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetInsPresencial.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetInsTelefonica.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetInspreAcciones.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetInspreEvaluacion.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetInspreevalDetalle.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetLocal.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetLugar.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetLugarCapacitacion.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetMaestrodetalle.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetNovEvaluacion.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetNovedad.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetNovevalDetalle.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetObjeto.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetParticipante.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetPerfil.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetPregunta.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetResponsable.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetRespuesta.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetTipoDocumento.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegRelCuestionario.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegRelPermiso.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegRelUsuarioperfil.hbm.xml</value>
                <value>classpath:pe/com/segrop/sgsapp/domain/SegDetRiesgo.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                <!--hibernate.dialect                   =   org.hibernate.dialect.Oracle10gDialect-->
                hibernate.dialect                       =   org.hibernate.dialect.PostgreSQLDialect
                hibernate.format_sql                    =   true
                hibernate.show_sql                      =   true
            </value>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
</beans>
